html {
  text-size-adjust: none;
  font-size: 10px;
  font-family: Roboto, Noto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  // background-color: #0e0e10;
  background-color: #0f0f0f;
}

canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
menu,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  padding: 0;
  border: 0;
  background-color: transparent;
}

li {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  transition: background 0.3s ease-in-out;
}