html {
  text-size-adjust: none;
  font-size: 10px;
  font-family: Roboto, Noto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  // background-color: #0e0e10;
  background-color: #0f0f0f;
}

canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
menu,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  padding: 0;
  border: 0;
  background-color: transparent;
}

li {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  transition: background 0.3s ease-in-out;
}

.abc {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.16);
  /* min-height: 150px; */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 6px;
  color: white;
  padding: 8px;
  transition: border 100ms ease-in,
    background-color 100ms ease-in;
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 10rem;
  overflow-y: auto;
  border: 2px solid white;

  &:hover {
    border-color: rgba(255, 255, 255, 0.65);
  }

  &:focus {
    outline: none;
    background-color: black;
    border-color: #ff9800;
  }

  &::placeholder {
    color: #8b949e;
  }

}

;